.hljs-keyword,
.hljs-tag {
    color: #f92672;
}

.hljs-attr {
    color:#a6e604;
}

.hljs-string {
    color: #ddd404;
}

.hljs-function {
    .hljs-keyword {
        color: #04e685;
    }
    .hljs-title {
        color: #09a9d6fc
    }

    .hljs-params {
        color: #fbb804fc;
    }
}

.hljs-comment {
    color: #abb2bf;
}

.language-css {
    .hljs-selector-class, .hljs-selector-id {
        color: #a6e604;
    }
    .hljs-attribute, .hljs-selector-tag {
        color: #09a9d6fc;
    }
    .hljs-number {
        color: #ab09e2;
    }
}