$defaultBorder: #e4e7ed;
$defaultFontColor: #333;
$defaultHover: #e6e6e6;
$primary: #409eff;
$primaryHover: #0b65de;
$success: #2cae6d;
$successHover: #25925b;
$error: #ff3018;
$errorHover: #ec301a;
$warning: #ffc439;
$warningHover: #f0b834;
$disabledBorder: #e4e7ed;
$disabledBackground: #f5f7fa;
$disabledText: #c0c4cc;
$carouselItemButtons: #d3d5d9;
$smallInputHeight: 30px;
$defaultInputHeight: 38px;
$largeIputHeight: 46px;



html, body{
  font: 12px/1.2 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', 'arial', 'Tahoma', 'SimSun', 'sans-serif';
  width: 100%;
  height: 100%;
  margin: 0;
  min-height: 600px;
}
body, dd, dl, dt, h2, h3, h4, h6, li, ol, p, ul{
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-text-size-adjust: none;
}
img{
  border: 0;
}
em, i, h2, h3, h4, h6{
  font-style: normal;
}
a{
  cursor: pointer;
  text-decoration: none;
  color: $defaultFontColor;
}
*, *:before, *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:focus{
  outline: none;
}
:visited{
  color: $defaultFontColor;
}
::-webkit-scrollbar{
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-track-piece{
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical{
  height: 5px;
  -webkit-border-radius: 3px;
  background-color: #666;
}
::-webkit-scrollbar-thumb:horizontal{
  width: 5px;
  -webkit-border-radius: 3px;
  background-color: #666;
}

.clearfix{
  zoom: 1;
}
.clearfix:after{
  display: block;
  clear: both;
  content: '';
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}



